/* body {
    background-image: url('../photo/ai-generated-8718051.jpg');
    background-size: cover;
    
} */

.a1{
    color: red;
    font-size: 20px;
    border: 5PX solid black ;
    padding: 5px;
}
#a1{
    color: blue;
    font-size: 30px;
    border: 10PX solid black ;
    padding: 10px;
}
#a2{
    color: green;
    font-size: 40px;
    border: 15PX solid black ;
    padding: 0px;
}
.a2:hover{
    background-color: lightseagreen;
    color: yellow;
    font-size: 50px;
    border: 20PX solid 
    rgb(19, 162, 228) ;
    padding: 20px;
}
.h1{
    color: purple;
    font-size: 25px;
    border: 3PX solid black ;
    padding: 5px;
}
.h2 {
    color: orange;
    font-size: 25px;
    border: 3PX solid black ;
    padding: 10px;
}
.h3 {
    color: rgb(73, 22, 190);
    font-size: 25px;
    border: 3PX solid black ;
    padding: 15px;
}
.h4 {
    color: rgb(0, 128, 0);
    font-size: 25px;
    border: 5PX solid black ;
     padding: 5px 0px 0px 15px
}

.h5 {
    color: rgb(255, 0, 0);
    font-size: 25px;
    padding: 5px;
    border: 5PX solid black ;
    margin: 5px 15px 0px 0px;
    border-radius: 20px;
   
   
}
.h6 {
    color: rgb(0, 0, 255);
    font-size: 25px;
    border: 5PX double black ;
    transform: rotate(10deg);
   
}
.nav {
    background-color: #333;
    padding: 20px;
    position: sticky;
}
.nav a {
    color: rgb(229, 245, 6);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    background-color: #4e10df;
    color: rgb(218, 17, 17);
}
.nav a.active {
    background-color: #4CAF50;
    color: rgb(226, 241, 3);
}
.nav a.active:hover {
    background-color: #45a049;
    color: white;
}
.nav a.active:focus {
    outline: none;
    box-shadow:  50px #4CAF50;
}
.nav a:focus {
    outline: none;
    box-shadow: 0 0 5px #333;
}
.nav select {
    background-color: #333;
    color: rgb(229, 245, 6);
    padding: 10px;
    border: none;
    border-radius: 5px;
}      
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    position: sticky;
}
.nav select:hover {
    background-color: #45a049;
    color: white;
}
.nav select:focus {
    outline: none;
    box-shadow: 0 0 5px #333;
}
